server:
  port: 8081

spring:
  datasource:
    url: jdbc:postgresql://postgres-auth:5432/auth_db
    username: auth_user
    password: auth_pass
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true
  application:
    name: auth-service

jwt:
  secret: "supersecretkeyforjwtgeneration"
  expiration: 3600000 # 1 hour
